@model UploadMVC.Models.File
@{
    ViewBag.Title = "Загрузка файлов";
}

<div class="nav">
    <div class="container">
        <ul class="pull-left">
            <li><a href="/File/Browse">Обзор</a></li>
            <li><a href="#">Загрузка</a></li>
        </ul>   
    </div>
</div>

<div class="jumbotron">
    <div class="container">
        <h1>Загрузка файлов</h1>
        <p>c использованием jQuery FileUpload plugin. </p>
    </div>
    <div class="container pull-right" style="top: -10px">
        @using (Html.BeginForm("UploadFile", "File", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="form-holder">
                <input type="text" id="tbx-file-path" placeholder="Путь..."/>
                <span class="btn btn-success fileinput-button">
                    <span>Выберите файл...</span>
                    @Html.TextBoxFor(m => m.FileInstance, new {id = "fu-my-simple-upload", type = "file", multiple = true})
                </span>
                <input type="submit" class="btn btn-primary" id="hl-start-upload" value="Начать загрузку"/>
                <p>
                    <div class="outerbar">
                        <div id="progress">
                            <div class="bar" style="width: 0%;"></div>
                        </div>
                    </div>
                    <span id="progress_val" style="font-size: 20px">0%</span>
                </p>
                <p>@Html.TextAreaFor(m => m.Description, new {id = "description", @class = "form-control", rows = "2", placeholder = "Комментраий"})</p>
            </div>
            
          
                <div class="well hide" id="filelistholder">
                </div>
            
            
        }
    </div>
    

</div> 



@section scripts{
    <script type="text/javascript">

        var jqXHRData = new Array();
        $(document).ready(function() {

            $('#fu-my-simple-upload').fileupload({
                url: '/File/UploadFile',
                dataType: 'json',
                sequentialUploads: false,
                maxFileSize: 300000000, //300 MB
                add: function (e, data) {
                  
                    $('#filelistholder').removeClass('hide');
                    data.context = $('<div />').text(data.files[0].name).appendTo('#filelistholder');
                    $('</div><div class="progress"><div class="bar" style="width:0%"></div></div><span id="progress_list" style="font-size: 20px">0%</span>').appendTo(data.context);

                    jqXHRData.push(data);   // !!!!!!!! ВНИМАНИЕ!!!!!!! 
                    /*  тут вся тема с запросами 
                        переменная jqXHRData - это массив, который заполняется файлами когда мы их добавляем 
                        или прептаскиваем (грубо говоря)
                        см. ниже
                   */
                },
                done: function(event, data) {
                    if (data.result.isUploaded) {
                        $("#tbx-file-path").val("");
                        $("#description").val("");
                        data.context.text(data.files[0].name + '... Completed');
                        $('</div><div class="progress"><div class="bar" style="width:100%"></div></div>').appendTo(data.context);
                       
                    } else {
                        console.log(data.result.message);
                    }
                    console.log(data.result.message);
                },
                fail: function(event, data) {
                    if (data.files[0].error) {
                        console.log(data.files[0].error);
                    }
                },
                dropZone: $('#tbx-file-path'),
                progressall: function(e, data) {
                    // Handle the progress bar
                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    $('#progress .bar').css(
                        'width',
                        progress + '%'
                    );
                    $('#progress_val').text(progress + '%');
                },
                progress: function (e, data) {
                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    data.context.find('.bar').css('width', progress + '%');
                    $('#progress_list').text(progress + '%');
                }
            });
        });

        $("#hl-start-upload").on('click', function() {         // !!!!!ВОТ СЮДА!!!!!!
            if (jqXHRData) {
                for (var i = 0; i < jqXHRData.length; i++) {   //Здесь мы проходимся по нашему массиву
                    jqXHRData[i].submit();                     //И каждый файл отправляем отдельным асинхронным запросом
                }                                              //при помощи submit()
                jqXHRData = [];                                //очищаем массив
            }
            return false;
        });

        $("#fu-my-simple-upload").on('change', function() {
            $("#tbx-file-path").val(this.files[0].name);
        });

        $(document).bind('drop dragover', function (e) {
            e.preventDefault();
        });

        var dzone = $('#tbx-file-path');
        dzone[0].ondrop = function (event) {
            event.preventDefault();
            $("#tbx-file-path").val(event.dataTransfer.files[0].name);
        };

       

    </script>
}


